.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.login {
    background: #7e7e95;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.login-area {
    margin-top: 15px;
    background-color: #48496e;
    border-radius: 150px;
    display: flex;
    justify-content: center;
}

.login-area img {
    width: 120px;
    height: 120px;
    padding: 20px;
}

form {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #FFF;
}

.login input {
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 15px;
}

form button {
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #48496e;
    color: #FFF;
    font-size: 1.3rem;
}

.login a {
    margin: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
}

.login a strong {
    color: #363761;
}